.btn-cart {
    padding: 15px;
    border-radius: 23px;
    background-color: #ba8e36;
    margin: 3% 0% 0% 16%;
    color: #fff;
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.buy-btn {
    background-color: #679bd3;
    border-radius: 20px;
    color: #fff;
    padding: 9px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.products {
    margin: 32px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

img {
    display: block;
    float: right;
}

.product-item {
    width: 21%;
    border: 12px solid #63460d;
    padding: 3%;
    margin: 1% 10%;
    border-radius: 34px;
}

header {
    background-color: #1c6160;
    height: 129px;
}

.buy-btn:hover {
    background-color: #9e7729;
    color: #000
}

.btn-cart:hover {
    background-color: #54acdf;
}