.btn-cart {
    padding: 15px;
    border-radius: 23px;
    background-color: #997122;
    margin: 3% 0% 0% 20%;
    color: #fff;
}

.buy-btn {
    background-color: #3c87f7;
    border-radius: 20px;
    color: #fff;
    padding: 9px;
}

.products {
    margin: 32px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

img {
    display: block;
    float: right;
}

.product-item {
    width: 21%;
    border: 15px solid #63460d;
    padding: 3%;
    margin: 1% 10%;
    border-radius: 34px;
}

header {
    background-color: #3cacaa;
    height: 129px;
}